@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:active {
  background-color: rgb(195, 194, 195);
}

* {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

.my-bg {
  font-family: 'Baloo 2', cursive;
  height: 100vh;
  /* overflow: hidden; */
}

.my-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/asset/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.charactor {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(205, 204, 204);
}

.charactor::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 140%;
  transform: rotate(-45deg);
}

.charactor.animate::before {
  animation: ani2 3s linear infinite;
}
.me::before {
  /* background-color: rgb(97, 219, 99); */
  background: linear-gradient(to right, #006400, #228B22, #32CD32, #7CFC00, #ADFF2F);
}

.enemy::before {
  /* background-color: rgb(235, 99, 103); */
  background: linear-gradient(to right, #8B0000, #B22222, #FF0000, #FF6347, #FF7F50, #FFA07A, #FFDAB9);
}

.charactor::after {
  position: absolute;
  content: "";
  inset: 1vw;
  background-color: rgb(205, 204, 204);
  border-radius: 5px;
}

.charactor > * {
  z-index: 50;
  font-size: auto;
}

@keyframes ani2 {
  from {
      transform: rotate(-45deg);
  }
  to {
      transform: rotate(315deg);
  }
}